
body {
    background-size: cover;
    background-position: center;
    font-family: "Sedan";
    background-color: #f0f5f9;
    color: #2c485c; 
}

.logo {
    width: 120px;
    height: 120px;
}

h1, h2, h3 {
    color: #518db3; 
}

.button {
    background-color: #1c245b; 
    color: #1c245b
}

a {
    color: #0f0f38; 
}

header {
    border-bottom: 3px solid #1c245b;
}







